:root {
  --webColor: orange;
  --webTextColor: #000000;
}

@font-face {
  font-family: "code";
  src: url("../fonts/DroidSansMono-1.ttf") format("truetype");
}

.webIndex {
  background-color: #505050;
  color: #dadada;
  margin: 5px 7px 5px 7px;
  padding: 2px 5px 2px 5px;
  position: sticky;
  top: 62px;
}

.webTitle {
  background-color: var(--webColor);
  color: var(--webTextColor);
  position: sticky;
  top: 0;
  margin: 0px;
  padding: 3px 6px 0px 6px;
  font-size: 26px;
}

.pageNow {
  background-color: var(--webColor);
  color: var(--webTextColor);
  position: sticky;
  top: 35px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0px 0px 0px 10px;
}

.backButton{
  font-size: 16px;
  font-weight: normal;
  color: var(--webTextColor);
}

.pageTitle {
  margin-top: 20px;
  padding: 0px 0px 0px 10px;
  color: #aaaaaa;
  font-weight: normal;
}

.pageSubTitle {
  margin: 16px 0px 8px 0px;
  padding: 0px 0px 0px 15px;
  color: #aaaaaa;
  font-weight: normal;
}


.pageText{
  margin: 5px 10px 5px 10px;
  padding: 0px 35px 0px 20px;
  color: #d7d7d7;
  font-weight: normal;
}

.pageTitle3{
  margin: 5px 10px 5px 10px;
  padding: 0px 35px 0px 20px;
  color: #d7d7d7;
  font-weight: bold;
  font-size: 22px;
}

.attentionTitle{
  background-color: orange;
  color: #000000;
  margin: 5px 35px 0px 20px;
  padding: 0px 10px 0px 15px;
  font-weight: bold;
}

.attention{
  margin: 0px 35px 5px 20px;
  padding: 0px 10px 0px 10px;
  border: 2px solid orange;
}

.warningTitle{
  background-color: #d80000;
  color: #ffffff;
  margin: 5px 35px 0px 20px;
  padding: 0px 10px 0px 15px;
  font-weight: bold;
}

.warning{
  margin: 0px 35px 5px 20px;
  padding: 0px 10px 0px 10px;
  border: 2px solid #d80000;
}

.noteTitle{
  background-color: #1E90FF;
  color: #ffffff;
  margin: 5px 35px 0px 20px;
  padding: 0px 10px 0px 15px;
  font-weight: bold;
}

.note{
  margin: 0px 35px 5px 20px;
  padding: 0px 10px 0px 10px;
  border: 2px solid #1E90FF;
}

.notificationTitle{
  background-color: #e9e9e9;
  color: #000000;
  margin: 5px 35px 0px 20px;
  padding: 0px 10px 0px 15px;
  font-weight: bold;
  text-align: center;
}

.notification{
  margin: 0px 35px 5px 20px;
  padding: 0px 10px 0px 10px;
  border: 2px solid #e9e9e9;
}

.codeTitle{
  background-color: #505050;
  color: #d7d7d7;
  margin: 5px 35px 0px 20px;
  padding: 0px 10px 0px 15px;
  font-weight: bold;
}

.code{
  margin: 0px 35px 5px 20px;
  padding: 2px 10px 2px 10px;
  border: 2px solid #505050;
  font-family: "code", sans-serif;
  white-space: pre-wrap;
}

.mono{
  font-family: "code", sans-serif;
  background-color: #505050;
}

.link{
  color: #00ff00;
}

.pageIndexLink{
  margin: 5px 10px 5px 10px;
  padding: 0px 35px 0px 20px;
  color: #d7d7d7;
  font-weight: normal;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #232323;
  color: #ffffff;
}

a {
  text-decoration: underline;
  color: #dadada;
  margin-right: 6px;
}

hr {
  width: 97%;
  color: #454545;
}

a:hover{
  font-weight: bold;
  color: #ffffff;
}
